<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cloudflex_LogsManagement::system_logs" title="Logs Management" translate="title" module="Cloudflex_LogsManagement" sortOrder="40" parent="Magento_Backend::system_tools" action="logs/logs/list" resource="Cloudflex_LogsManagement::index"/>
    </menu>
</config>
